<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
         src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/PlayStation_Store.png/640px-PlayStation_Store.png"
         alt="Logo PlayStation_Store"
         width="140px"
         height="32px"
         />
    </div>

    <div class="menu-bar__item">
        <ul>
            <li><a href="">YOUTUBE</a></li>
            <li><a href="">LINKEDIN</a></li>
            <li><a href="">GITHUB</a></li>
        </ul>

    </div>
</div>